.App-main {
  background-color: #282c34;
}

.App-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: large;
  min-height: 7vh;
  padding: auto;
  font-size: calc(10px + 2vmin);
}
.App-conteiner {
  text-align: center;
}

.App-conteiner-header {
  min-height: 93vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1vmin);
  color: white;
  flex-wrap: wrap;
  /* gap: 12px; */
}

.App-link {
  color: #61dafb;
}
